.experience{
    width: 70vw;
    margin: auto;
}
/* .verticalline{
    width: 100%;
    background-color: rgb(50,50,50);
} */
/* .vertical-timeline-element-content {
    color: rgb(50,50,50);
} */
.vertical-timeline-element:hover{
    color: yellow;
}

.headTimeline, .paraTimeline {
    color:#000;
}

@media screen and (max-width:500px) {
    .vertical-timeline-element {
        color: black;
        text-align: left;
        font-size: xx-small;
    }
    .experience{
        width:100%;
    }
    .headTimeline{
        font-size: small;
        text-align: left;
    }
    .paraTimeline{
        font-size: xx-small;
        text-align: left;
        margin: 0;
    }
}