#intro{
    /* 100 vh total height - the height of the navbar i.e 4rem */
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position:relative;
    object-fit: cover;
}

/* right Part */
.bg{
    position: absolute;
    top: -4rem;
    /* space error between -4rem actually i had previously given space between -4 rem -----like this that caused the error */
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}


/* Left Part */
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: xxx-large;
    font-weight:700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: xx-large;
    font-weight: 100;
}

.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;

}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 2rem;
}

.contactIntro{
    color: aqua;
}

#contactIntro{
    color: bisque;
}


/* Dimension of TAB */
@media  screen and (max-width:820px) {
    .bg{
        right: -0vw;
        /* height: 90vh; */
        /* width: 80%; */
    }
    .introContent{
        font-size: xx-large;
        height: 140vh;
    }
    .hello{
        font-size: x-large;
    }
    .introPara{
        font-size: small;
    }

}

@media  screen and (max-width:625px) {
    .introContent{
        font-size: x-large;
    }
    .hello{
        font-size: large;
    }
}

/* Dimension of Mobile */
@media  screen and (max-width:480px) {
    .bg{
        right: 0vw;

    }

    .btn{
        background: white;
        margin: 1rem 0;
        padding: 0.5rem 0.75rem;
        border: none;
        border-radius: 2rem;
    }
    .btnImg{
        object-fit: cover;
        margin: 0 0.25rem;
        height: 1rem;
    }
}

/* Dimension of Mobile */
@media  screen and (max-width:449px) {
    .bg{
        right: -0vw;
        margin-bottom: 0;
    }
    .introContent{
        font-size: large;
    }
    .introPara{
        font-size: x-small;
    }
    .btn{
        margin: 1rem 0;
        padding: 0.4rem 0.60rem;
        border: none;
        border-radius: 2rem;
    }
    .btnImg{
        object-fit: cover;
        margin: 0 0.25rem;
        height: 1rem;
    }

}

/* Dimension of Mobile */
@media  screen and (max-width:390px) {
    .bg{
        right: +0vw;
    }
    .introContent{
        font-size: medium;
        height: 125vh;
    }
    .introPara{
        font-size: xx-small;
    }
    .btn{
        margin: 1rem 0;
        padding: 0.125rem 0.28rem;
        border: none;
        border-radius: 2rem;
    }
    .btnImg{
        object-fit: cover;
        margin: 0 0.125rem;
        height: 1rem;
    }
    /* #intro{
        display: flex;
        flex-direction: column;
    } */
}


@media screen and (max-width:921px) {
    /* .introContent{
        display: flex;
        flex-direction: column;
    } */
    
}